# figma-managed npm registry config start
@gautam:registry=https://registry.figma.com/npm/941800fb-2239-4a24-b733-2b76b1aa8ee6/registry/
@make-kits:registry=https://registry.figma.com/npm/941800fb-2239-4a24-b733-2b76b1aa8ee6/registry/
# figma-managed npm registry config end
